

<div class="container wrapper">
    <h1>MSI Course</h1>

        <div class="row d-flex flex-row mb-3">
        <div class="card g-col-4 g-col-md-3 g- col-sm-1" *ngFor="let courses of courses">
            <img class="card-img-top" src="{{courses.img_url}}" alt="courses image">
            <div class="card-title">{{courses.title}}</div>
            <div class="card-text discription">{{courses.description}}</div>
            <div class="details">
                <div class="duration">{{courses.duration}}</div>
                <div class="fee">{{courses.fee}}</div>
                <button class=" btn btn-primary">
                <a class="card-link" routerLink="/course-outline/{{courses.id}}">
                        <i class="color">Details </i>
                        <i class="emoji-right">  👉</i>
                </a>
            </button>
            </div>
        </div>
    </div>
    
</div>
<div class="item">
    <ngx-skeleton-loader count="5" appearance="circle"></ngx-skeleton-loader>
  </div>